---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hola, soy José Ángel Casabona, un desarrollador español con ganas de conocer nuevas tecnologías.
        <br />
        Tengo conocimientos básicos en varios lenguajes y aplicaciones como:
      </p>
      <ul class="list-disc list-inside">
        <li>JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Angular</li>
        <li>Unity</li>
        <li>Java</li>
        <li>C#</li>
        <li>Android Studio</li>
        <li>Gestión de bases de datos</li>
        <li>Etc</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Adoro el mundo de la programación en todos los sentidos, pero mis actividades favoritas siempre van relacionas con los videojuegos, ya que fueron el motivo por el que empecé a estudiar informática.
    </p>
    <p class="text-sm font-light">
      Mi objetivo como programador es ser capaz de utilizar el mayor número de herramientas posibles y poder utilziar mi conocimiento y habilidades para desarrollar soluciones tecnológicas a los problemas de la gente.
    </p>
  </div>
</Card>
